
@font-face{
    font-family: 'Spinn';
    src: url('spinn.otf') format('truetype');
}
@font-face{
    font-family: 'Champagne';
    src: url('champ.ttf') format('truetype');
}
@font-face{
    font-family: 'Sunrise';
    src: url('Sunrise.otf') format('truetype');
}
@font-face{
    font-family: 'Delish';
    src: url('Delish.otf') format('truetype');
}
@font-face{
    font-family: 'Betty';
    src: url('betty.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    background-image: url("../images/swing.png");
    background-color: #ebeae8;
    height: 100%; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Nav Bar  */
.navbar {
    background-color: #998d93;
    transition: top 0.3s; 
}

.navbar-brand{
    font-family: Spinn;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.3rem;
}
.nav-link {
    font-family: Champagne;
    font-size: 1.2rem;
    letter-spacing: .05rem;
}

/* Home Page  */
#home-page {
    /* height: 55.5rem;    */
}

#name {
    height: 40.5rem;
    margin-top: 5rem;
}

#header {
    padding: .625rem;
    margin-top: 10rem;
    text-align: center;
    font-family: Spinn;
    font-size: 8rem;
    font-weight: bold;
    color: Black;
    text-shadow: 3px 2px #998d93;
}

#subheader{
    text-align: center;
    color: black;
    font-family: Champagne;
    font-size: 2rem;
}

#intro {
    background-color: #607f75;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    height: 15rem;
    margin: auto;
    vertical-align: baseline; 
}

#intro>#introtext{
    width: auto;
    max-width: 800px;
    height: 100%;
    padding-top: 5%;
    margin: auto;
    font-family: Champagne;
    font-size: 2rem;
    text-align: center!important;
}

/* About Page */
#about-page, .aboutMeRow {
    /* height: 37rem; */
    background-color: #adc4a4;
    border-bottom: 1px solid black;   
}

h1 {
    font-family: Spinn;
    font-size: 4.6rem;
    /* padding: 1rem; */
    /* text-align: center; */
}

.me img{
    width: 100%;
    height: auto;
    max-height: 100%;
    margin: auto;
    padding: 0;
}

#about-me {
    background-color: #adc4a4;
    font-family: Champagne;
    font-size: 1.3rem;
    letter-spacing: .05rem;
    margin: auto;
}

/* Portfolio Page */
#portfolio-page {
    /* height: 67rem; */
    background-color:  #ebeae8;
}

.services{
    text-align: center;
    font-family: Champagne;
    padding: 1rem;
}

.serviceLogoImg{
    width: 100px;
    height: 100px;
}

.atYourService{
    padding-bottom: 5rem;
}

.serviceTitle{
    padding: 2rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.serviceDescription{
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
}

.top{
    padding: 5rem 0rem 5rem 0rem;
}

.resume{
    text-align: center;
    margin: auto;
}

#resLink{
    color: #607f75;
    font-family: Spinn;
    font-size: 4.6rem;
}

.project {
    height: 14rem;
    display: inline-block;
    
}

.projectName{
    color:black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-family: Betty;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
}

.col-sm{
    padding: none;
}

.con1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f7fce6;
}
  
.project:hover .con1 {
    opacity: .5;
}

.con2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d4b9bb;
}
  
.project:hover .con2 {
    opacity: .5;
}
  
.con3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #c4d3b4;
}
  
.project:hover .con3 {
    opacity: .5;
}

.con4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f0f5dc;
}
  
.project:hover .con4 {
    opacity: .5;
}

.projectLinks {
    color:black;
    position: absolute;
    max-width: 100%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-family: Betty;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
}

.projectLinks:hover{
    text-decoration: none;
    color: black;
}

.boxOne {
    background-image: url("../images/haven.jpg");
    background-size: 100%;   
}

.boxTwo{
    background-image: url("../images/birds.jpg");
    /* background-size: contain; */
}

.boxThree{
    background-image: url("../images/sprig.png");
    /* background-size: contain; */    
}

.boxFour{
    background-image: url("../images/harlequin.jpg");
    background-size: contain;
}

.projectRows{
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* Project Modals */
.modal-title{
    font-family: Champagne;
    font-size: 3rem;
    font-weight: bolder;
}

.modal-header,.modal-body, .modal-footer{
    background-color: #f5f7ed;
}

.modal-header{
    border-bottom: 1px solid black;
}
.modal-footer{
    border-top: 1px solid black;
}

.projScreenShot{
    width: 100%;
    height: auto;
}

.projInfo, .roleTech{
    padding: 3rem;
}

.role {
    font-family: Champagne;
    font-style: italic;
    font-size: 1.3rem;
    padding: .25rem;
}

.technologies{
    font-family: Champagne;
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 1rem;
}

.technologiesList, .projDescription{
    font-family: Champagne;
    font-size: 1.3rem;
}

.project-image{
    padding: .5rem 2rem 2rem 2rem;
    height: 376px;
    width: 700px;
}

.closebtn{
    font-family: Champagne;
    font-size: 1.3rem;
    background-color: #dce3c5;
}

.launchbtn{
    font-family: Champagne;
    font-size: 1.3rem;
    background-color: #d4b9bb;
}

/* Contact-Page */
#contact-page {
    background-color: #c99f9d;
}

a, .portfolioLinks{
    font-family: Champagne;
    font-size: 1.3rem;
    color: black;
}

a:hover{
    color:black;
    
}

.log{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    height: auto;
}

